.rpl-tools {
  h5 {
    font-family: "Lora", sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 46px;
    color: #322f56;
  }

  .text-muted {
    line-height: 28px;
  }

  @include media-breakpoint-down(md) {
    h5,
    p {
      text-align: center;
    }
  }
}
